@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

#navbar  {
    top: 0;
    left: 0;
    position: sticky; 
    background-color: lightyellow !important;
}

body{
    background-image: url(Printing_Picture.jpeg);
    background-size: cover;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat Alternates', sans-serif;
    color: lightyellow;
}

h1 {
    font-weight: 700;
    text-align: center;
    font-size: 70px;
}

div {

    font-weight: 400;
    font-size: 20px;
    text-align: center;
    z-index: 5;
}

#flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 15%;

}

p {
    text-align: center;
}